# Site settings
title: Riccardo Arcodia
description: 'BHI Fellow at the Black Hole Initiative at Harvard University'
url: 'http://rarcodia.github.io'
#baseurl: '/jekyll-uno'
# google_analytics: 'UA-XXXXXX-X'
# disqus_shortname: 'your-disqus-name'
# disable_landing_page: true

author:
  name: 'Riccardo Arcodia'
  email: rarcodia@mit.edu
  twitter_username: ArcodiaRiccardo
  #facebook_username: joshgerdes
  github_username:  rarcodia
  linkedin_username:  riccardo-arcodia-b7a02714b

defaults:
  -
    scope:
      path: ''
      type: 'posts'
    values:
        layout: 'post'

# Build settings
destination: _site
paginate: 10
permalink: /:title/
markdown: kramdown
highlighter: rouge

sass: 
    sass_dir: _sass
    style: compressed

kramdown:
  # use Github Flavored Markdown
  input: GFM
  # do not replace newlines by <br>s
  hard_wrap: false

plugins:
  - jekyll-seo-tag

plugins: ['jekyll-paginate']
exclude: ['README.md', 'Gemfile', 'Gemfile.lock', 'screenshot.png']
